version: "3.8"

services:
  temporal:
    container_name: temporal
    image: temporalio/admin-tools:latest
    ports:
      - "7233:7233"
      - "8233:8233"
    environment:
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    entrypoint: ["/bin/bash", "-c", "temporal server start-dev --ip 0.0.0.0"]
